body{
  background-color: rgb(112, 30, 30)
}

.titulo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  color: white;
  margin: 10px;
  
}

.result {
display: flex;
justify-content: center;
align-items: center;
}

.svg {
position:absolute;
 left: 49%;
 top:80%;
}

.transparencia {
cursor: pointer;
background-color: transparent;
border: none;
}

#digititulo {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input_name {
  width: 20rem;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  background: #FFF;
  box-sizing: border-box;
  animation: shadowExpandX 2s linear infinite alternate;
}

.carrousel {
  width: 500px;
  height: 800px;
  position:absolute;
  left: 10%;
  top:100%;
  max-width: 200px;
  scroll-behavior: smooth;
}

.imgcarrousel {
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@keyframes shadowExpandX {
  0% {
    box-shadow: 0 0, 0 0;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: -24px 0, 24px 0;
    color: rgba(255, 255, 255, 0.8);
  }
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
